/BackEnd-app/__pycache__
/FrontEnd-app/__pycache__
/BackEnd-app/database/__pycache__
__pycache__
**/__pycache__/
*.pyc
storage/*
!storage/.gitignore
/BackEnd-app/env
/BackEnd-app/database/__pycache__
