# Backend Framework
fastapi==0.95.2
uvicorn==0.23.2

# Database Libraries
sqlalchemy==1.4.49
psycopg2-binary==2.9.8  # PostgreSQL support
pymongo==4.5.0          # MongoDB support
pinecone-client==2.2.1  # Vector DB support
